body{
	direction: rtl;
}
@media(min-width: 678px){
#page-wrapper{
	margin: 0px 260px 0px 0px;
}
.navbar-header{
	float: right;
}
}
td,th{
	text-align: center;
}
.nav > li > a >i {
	margin-left: 10px;
}
.navbar .language-bar{
	float: left !important;
}
.navbar .language-bar ul li {
	margin-left: 10px !important;
}